<footer class="footer-page">
  <section>
    <nav>
      <ul class="footer-icons">
        <li>
          <a href="https://t.me/gorenburg" target="_blank" class="fab fa-telegram"></a>
        </li>
        <li>
          <a href="https://twitter.com/gorenburg" target="_blank" class="fab fa-twitter"></a>
        </li>
        <li>
          <a href="https://facebook.com/ilya.gorenburg" target="_blank" class="fab fa-facebook"></a>
        </li>
        <li>
          <a href="https://instagram.com/gorenburg" target="_blank" class="fab fa-instagram"></a>
        </li>
        <li>
          <a href="https://linkedin.com/in/gorenburg" target="_blank" class="fab fa-linkedin"></a>
        </li>
        <li>
          <a href="https://flickr.com/gorenburg" target="_blank" class="fab fa-flickr"></a>
        </li>
        <li>
          <a href="https://500px.com/gorenburg" target="_blank" class="fab fa-500px"></a>
        </li>
      </ul>
    </nav>
  </section>
</footer>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lozad/dist/lozad.min.js"></script>
<script src="/assets/js/lightbox.min.js"></script>

<script>
  $(document).ready(function() {
    const observer = lozad();
    observer.observe();
  })
</script>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-1939975-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-1939975-10');
</script>
