<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="imagetoolbar" content="false">
<meta property="fb:admins" content="10216512212022413">

<title>
  {% if page.title %}
    {{ page.title }} &middot; {{ site.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
</title>

<meta property="og:url" content="{{ site.url }}{{ page.url }}">
<meta property="og:site_name" content="ilya.gorenburg.com">
<meta property="og:image:width" content="1920">
<meta property="og:type" content="website">
<meta name="twitter:site" content="@gorenburg">
<meta name="twitter:site_name" content="Ilya Gorenburg">

{% if page.preview %}
  <meta property="og:image" content="{{ page.preview }}">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{ page.preview }}">
  <meta name="image" content="{{ page.preview }}">
  <meta name="og_twitter_card" content="summary_large_image">
{% endif %}

{% if page.title %}
  <meta property="og:title" content="{{ page.title }} · {{ site.title }}">
  <meta name="twitter:title" content="{{ page.title }} · {{ site.title }}">
{% else %}
  <meta property="og:title" content="{{ site.title }}">
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}

<link rel="shortcut icon" href="https://66.media.tumblr.com/avatar_291ece574ae5_128.pnj">
<link rel="apple-touch-icon" href="https://66.media.tumblr.com/avatar_291ece574ae5_128.pnj">

<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Rubik:300,400,500,700&amp;subset=cyrillic" rel="stylesheet">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/solid.css" integrity="sha384-rdyFrfAIC05c5ph7BKz3l5NG5yEottvO/DQ0dCrwD8gzeQDjYBHNr1ucUpQuljos" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/brands.css" integrity="sha384-QT2Z8ljl3UupqMtQNmPyhSPO/d5qbrzWmFxJqmY7tqoTuT2YrQLEqzvVOP2cT5XW" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/fontawesome.css" integrity="sha384-u5J7JghGz0qUrmEsWzBQkfvc8nK3fUT7DCaQzNQ+q4oEXhGSx+P2OqjWsfIRB8QT" crossorigin="anonymous">

<link href="/assets/css/style.css" rel="stylesheet">
