<section class="wrapper wrapper-header">

  <header class="header-page">
    <section class="header-profile">
      <a href="/" class="header-logo">
        <img src="/assets/images/avatar.jpg" width="64" height="64" class="header-avatar" alt="Ilya Gorenburg">
      </a>
      <div class="header-profile-inner">
        <a href="/" class="header-profile-link">Ilya Gorenburg</a>
        <section class="header-description">Frontend Developer. Behind the scenes</section>
      </div>
    </section>
    <nav>
      <ul class="header-menu">
        <li>
          <a href="/map/"><i class="fas fa-map-pin fa-pad-right-thin"></i><br>map</a>
        </li>
        <li>
          <a href="/tag/photos"><i class="fas fa-camera fa-pad-right-thin"></i><br>photos</a>
        </li>
        <li>
          <a href="/tag/code"><i class="fas fa-code fa-pad-right-thin"></i><br>code</a>
        </li>
      </ul>
    </nav>
  </header>

</section>
