:root {
  --text-color: #29282c;
  --bg-color: #fffcfc;
  --primary-color: #a5f1d9;
  --border-color: #a5f1d9;
  --separator-color: #ebebeb;
  --content-width: 63.75rem;

  @media (prefers-color-scheme: dark) {
    --bg-color: #171717;
    --text-color: #f1f1f1;
    --border-color: #333;
    --separator-color: #333;
  }

}

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  min-height: 100%;
  box-sizing: border-box;
  background: var(--border-color);
  max-width: 100vw;
  overflow-x: hidden;
  font-size: 16px;
}

body {
  font: 400 1rem/1.5 $font-primary;
  margin-bottom: 0;
  background-color: var(--bg-color);
  color: var(--text-color);
  text-shadow: none;
  border: 0.3125rem solid var(--border-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(255,102,51,0.62);

  @media screen and (min-width: 43.75em) {
    border-width: 0.625rem;
  }

  @media screen and (min-width: 61em) {
    border-width: 0.9375rem;
  }

}

pre {
  white-space: pre;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a img, img {
  -ms-interpolation-mode: bicubic;
  border: 0;
}

input, textarea, button, select {
  margin: 0;
  font-size: 100%;
  line-height: normal;
  vertical-align: baseline;
}

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

textarea {
  overflow: auto;
}

img {
  vertical-align: top;
  &:selection, &:-moz-selection {
    background: transparent;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-headings;
  font-weight: 500;
  font-style: normal;
}

h1 {
  text-align: center;
}

a {
  color: #21cd9c;

  &:hover {
    text-decoration: none;
  }
}

.wrapper {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 100%;

  @media screen and (min-width: 61em) {
    width: 100%;
    max-width: var(--content-width);
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

}
