.footer-page {
  border-top: .125rem solid var(--separator-color);
  padding: .6rem 0 .8rem;
  margin-bottom: 3rem;
}

.footer-icons {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    vertical-align: top;
    margin: 0 .75rem;
    font-size: 1.625rem;
  }

  a {
    text-decoration: none;
    transition: opacity .2s linear;

    &:hover {
      opacity: .8;
    }

  }

}
