header {
  padding-top: 3rem;
  padding-bottom: 2.9rem;

  ul {
    padding: .6rem 0 .7rem;

    li {
      width: auto;
      + li {
        margin-left: 1rem;
      }
    }

  }

}

.header-page {
  @media screen and (min-width: 43.75em) {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.header-profile {
  display: flex;
  align-items: center;
  font-family: $font-secondary;
  letter-spacing: -.03125px;
  line-height: 1.33;
}

.header-profile-inner {
  text-align: left;
  padding: 0 1rem;
  letter-spacing: -.02rem;
}

.header-profile-link {
  margin-top: .5rem;
  margin-bottom: 0;
  text-decoration: none;
  color: inherit;
  font-size: 1.125rem;
  font-weight: 500;
  letter-spacing: -.00125rem;
}

.header-avatar {
  border-radius: .375rem;
  vertical-align: top;
}

.header-description {
  font-size: 1rem;
  font-family: 'Fira Sans', sans-serif;
  letter-spacing: -.03125rem;
  color: #a2a2a3;
  @media screen and (min-width: 43.75em) {
    line-height: 1.846153846;
  }
}

.header-menu {
  margin: 0;
  padding: 0;

  @media screen and (max-width: 43.749em) {
    margin-top: 1rem;
    text-align: center;
  }

  li {
    display: inline-block;
    text-align: center;
    a {
      display: block;
      line-height: 1.3;
      margin-bottom: 0;
      letter-spacing: -.03125rem;
      text-decoration: none;
      font-weight: 400;
      font-family: $font-secondary;
      color: #a2a2a3;
      transition: color .2s linear;

      &:hover {
        color: #21cd9c;
      }

    }
    + li {
      margin-left: 1.5rem;
    }
  }

}
