.text-center {
  text-align: center;
}

.fa-pad-left {
  margin-left: .5rem;
}

.fa-pad-left-thin {
  margin-left: .25rem;
}

.fa-pad-right {
  margin-right: .5rem;
}

.fa-pad-right-thin {
  margin-right: .25rem;
}
