$font-primary: 'Playfair Display', Georgia, 'Times New Roman', sans-serif;
$font-secondary: 'Fira Sans', Helvetica, Arial, sans-serif;
$font-headings: 'Fira Sans Condensed', Helvetica, Arial,sans-serif;