.articles-tag-list {

  .post {
    margin-bottom: .5rem;

    header, .title {
      padding-left: 0;
      padding-right: 0;
    }

    .title .h2 {
      margin-top: 0;
      margin-bottom: .2rem;
    }

  }

}