.tag-title {
  letter-spacing: -.05em;
  margin-top: 0;
  margin-bottom: 1.2em;
}

.articles-tag-list {

  .post {
    margin-bottom: .5em;

    .title .h2 {
      margin-top: 0;
      margin-bottom: .2em;
    }

  }

}