<!doctype html>
<html lang="ru">
  <head>
    {% include head.html %}
  </head>
  <body id="body">
    <section class="wrapper">

      {% include header.html %}

      <section class="posts">
        <article class="post post-{{ page.type }}">

          <div class="title text-center">
            <h1 class="h2">{{ page.title }}</h1>
          </div>

          {{ page.content | replace: "[[MORE]]", "" }}

        </article>
      </section>

      {% include footer.html %}

    </section>

  </body>
</html>
