<!doctype html>
<html lang="ru">
  <head>
    {% include head.html %}
  </head>
  <body id="body">

    {% include header.html %}

    <section class="posts">
      <article class="post post-{{ page.type }}">

        {% unless page.type contains 'quote' %}

          {% if page.header contains 'photo' %}

            <div class="post-img-header">
              <div class="post-img-header-cover">
                <div class="post-img-header-text">
                  <h1 class="post-img-header-title">{{ page.title }}</h1>
                  {% if page.subtitle %}
                    <h2 class="post-img-header-subtitle">{{ page.subtitle }}</h2>
                  {% endif %}
                </div>
                {% if page.preview_video %}
                  <video class="post-img-header-media" id="js-header-video" muted autoplay playsinline loop>
                    <source src="{{ page.preview_video }}" type="video/mp4">
                    Sorry, your browser doesn't support embedded videos.
                  </video>

                  <script>
                    window.addEventListener('load', (event) => {
                      const video = document.getElementById('js-header-video')
                      if (video) {
                        const videoIntersectionObserver = new IntersectionObserver(function(entries) {
                          if (entries[0].isIntersecting) {
                            video.play()
                          } else {
                            video.pause()
                          }
                        })
                        videoIntersectionObserver.observe(video)
                      }
                    })
                  </script>

                {% else %}
                  <img class="post-img-header-media" src="{{ page.preview }}" width="2048" height="1536" alt="{{ page.title }}">
                {% endif %}
              </div>

              <header class="text-center">
                <date class="small" title="{{ page.date | date: "%-d/%m/%Y"}}">{{ page.date | date: "%-d/%m/%Y"}}</date>
                <date class="large" title="{{ page.date | date: "%-d %B %Y"}}">{{ page.date | date: "%-d %B %Y"}}</date>
                &#8226;
                {% for tag in page.tags %}
                  <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}" class="header-tag">#{{ tag }}</a>
                {% endfor %}
              </header>

            </div>

          {% endif %}

          <div class="wrapper">

            {% unless page.header contains 'photo' %}

              <div class="title text-center">
                <h1 class="h2">{{ page.title }}</h1>
              </div>

              <header class="text-center">
                <date class="small" title="{{ page.date | date: "%-d/%m/%Y"}}">{{ page.date | date: "%-d/%m/%Y"}}</date>
                <date class="large" title="{{ page.date | date: "%-d %B %Y"}}">{{ page.date | date: "%-d %B %Y"}}</date>
                &#8226;
                {% for tag in page.tags %}
                  <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}" class="header-tag">#{{ tag }}</a>
                {% endfor %}
              </header>

            {% endunless %}

            {{ page.content | replace: "[[MORE]]", "" }}

          </div>

        {% else %}

          <div class="wrapper">

            {{ page.content | replace: "[[MORE]]", "" }}

            <header class="text-center">
              <date class="small" title="{{ page.date | date: "%-d/%m/%Y"}}">{{ page.date | date: "%-d/%m/%Y"}}</date>
              <date class="large" title="{{ page.date | date: "%-d %B %Y"}}">{{ page.date | date: "%-d %B %Y"}}</date>
              &#8226;
              {% for tag in page.tags %}
                <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}" class="header-tag">#{{ tag }}</a>
              {% endfor %}
            </header>

          </div>

        {% endunless %}

      </article>
    </section>

    <section class="wrapper">
      <section class="comments">
        <div class="fb-comments" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="10"></div>
      </section>

      {% include footer.html %}
    </section>

    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "NewsArticle",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "https://google.com/article"
        },
        "headline": "{{ page.title }}",
        {% if page.preview %}
          "image": [
            "{{ page.preview }}"
          ],
         {% endif %}
        "datePublished": "{{ page.date | date_to_xmlschema }}",
        "dateModified": "{{ page.date | date_to_xmlschema }}",
        "author": {
          "@type": "Person",
          "name": "Ilya Gorenburg"
        }
        {% if page.preview %}
          ,
          "publisher": {
            "@type": "Organization",
            "name": "Ilya Gorenburg",
            "logo": {
              "@type": "ImageObject",
              "url": "{{ page.preview }}"
            }
          }
        {% endif %}
      }
      </script>

  </body>
</html>
