---
layout: default
title: "{{ page.tag }}"
---

{% assign posts = site.tags[page.tag] %}

<div class="text-center">
  <h1 class="h2 tag-title">#{{ page.tag }}</h1>
</div>

<section class="articles-tag-list">

  {% for post in posts %}

    <article class="post">
      <a href="{{ post.url }}" title="{{ post.title }}" class="title">
        <h2 class="h2">{{ post.title }}</h2>
      </a>
      <header>
        <time class="fa-pad-right">{{ post.date | date: "%-d %B %Y"}}</time>
        &#8226;
        {% for tag in post.tags %}
          <a href="/{{ site.tag_page_dir }}/{{ tag | slugify: 'pretty' }}" class="header-tag">#{{ tag }}</a>
        {% endfor %}
      </header>
    </article>

  {% endfor %}

</section>